C:\Users\66mar\lambdaterraformfunction\.terraform
C:\Users\66mar\lambdaterraformfunction\.terraform.lock.hcl
C:\Users\66mar\lambdaterraformfunction\terraform.tfstate.backup
C:\Users\66mar\lambdaterraformfunction\terraform.tfstate